.group_name{
    flex-direction: row;
    display:flex;
    background: url("../images/bgimg.png") ;
    height:65vh;
    background-repeat:no-repeat;
    background-size:cover;
    min-width: 660px;
    background-position: center center;
}
.title{
 display:flex;
 align-self: flex-end;
 flex-direction: column;
 justify-content: center;
 height:20vh;
 min-height: 50px;
 margin-top:40vh;
 margin-left:11vw;
 margin-bottom: 5vh;
}
 .heading{
    width: 25vw;
    height:9vh;
    min-width: 500px;
    min-height:50px ;
    color:white;
    font-size: 2em;
    font-weight: 700;
    padding:0;
}
.followers{
    height:5vh;
    min-height: 5vh;
    width:60vw;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    
}
@media (min-width:700px){
    .group_name{
        min-width:660px;
    }
    .title{
        min-width: 660px;
    }
}
